
<div id="content">
  <div id="container">
    <div class="header">
      <div>
        <img class="text-center" src="/img/Brick and Tun - bar closeup lights 157k.jpg" style="width:50%; margin:10px;">
      </div>
    </div>

    <div id="continue">
      <h1>The Brick & Tun</h1>
      <p>Please enjoy our complimentary WiFi and a pint!</p>
      <p>
        Brought to you by <a href="http://www.internetoflego.com" target="blank">InternetOfLEGO.com</a>
      </p>
      <!-- OLD SURVEY LOGIN
      <form action="/survey" method="post" class="form col-md-12 center-block">
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Email" type="text" name="form1[email]" required>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>



        </div>
      </form>
      -->



    <div>
    <h3>Login Options</h3>

    <a href="/auth/signup" class="btn btn-default"><span class="fa fa-user"></span> Email</a>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    <a href="/auth/linkedin" class="btn btn-info"><span class="fa fa-linkedin"></span> LinkedIn</a>
    </div>
    <span class="pull-left"><a href="/terms">Terms and Conditions</a></span>
    </div>
  </div>
  <div class="footer">
    <p>Your IP: {{client_ip}}</p>
    <p>Your MAC: {{client_mac}}</p>
    <p>AP MAC: {{node_mac}}</p>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
